{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}

<h1>Toutes les categories :</h1>
{% for category in categories %}
   <h2> {{ loop.index }} /{{ category.name }}</h2>
   
       Voir categorie:<a href="{{ path("category_show", {categoryName: category.name }) }}"> {{ category.name }}</a>

{% endfor %}
<div>
<a href="{{ path('app_index') }}">
    Retour a l'accueil
</a>
</div>

{% endblock %}